.container-management-panel{

}

.form-management-panel{
    display: flex;
    background: #052d3f;
    box-sizing: border-box;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #FFFFFF;
}

.management-panel-button{
    background: #052d3f;
    color: #FFFFFF;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-management-panel{
    font-size: 32px;
    align-items: center;
}

.input-management-panel{
    z-index: 1;
    background: #052d3f;
    width: 100%;
    height: 100%;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #ffffff;
    border: none;
    text-indent: 10px;
}

.input-management-panel::-webkit-input-placeholder {color: #787a80;}
.input-management-panel::-moz-placeholder {color:#787a80;}
.input-management-panel::-moz-placeholder {color:#787a80;}
.input-management-panel::-ms-input-placeholder {color:#787a80;}