.input-search-panel{
    text-align: center;
    background: #ffffff;
    color: #fff;
    width: 100%;
    height: 100%;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    border: 0.0001em solid #0dcaf0;
    color: #000;
}

.input-search-panel::-webkit-input-placeholder {color: #787a80;}
.input-search-panel::-moz-placeholder {color:#787a80;}
.input-search-panel::-moz-placeholder {color:#787a80;}
.input-search-panel::-ms-input-placeholder {color:#787a80;}